.animal-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#animal-detail img {
    width: 30%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(154, 245, 8);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: bisque;
}
